{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="cart-header">
    <a href="{% url 'home' %}" class="link-home">Главная </a>
    <span class="link-separator">—</span>
    Корзина
</div>
<div class="cart-header2">
    <h1>Корзина (<span class="cart-count">{{ cart_count }}</span>)</h1>
    <button id="clear-cart-button" class="clear-cart-button">Очистить корзину</button>
</div>
<div class="cart-container">
    {% if cart and cart.items.count > 0 %}
    <ul class="cart-items">
        {% for item in cart.items.all %}
            <li class="cart-item" data-item-id="{{ item.id }}">
                <div class="cart-item-content">
                    <div class="cart-item-image">
                        {% if item.product.images.first %}
                            <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img src="{% static '/images/image.png' %}" alt="Нет изображения">
                        {% endif %}
                    </div>
                    <div class="cart-item-info">
                        <h2>{{ item.product.name }}</h2>
                        <p>Размер: {{ item.size|default:"Без размера" }}</p>
                        <p>Количество: <span class="item-quantity" data-item-id="{{ item.id }}">{{ item.quantity }}</span> шт.</p>
                        <p>Цена: {{ item.product.price|floatformat:0 }} руб.</p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="quantity-control">
                    <button class="quantity-btn decrement" data-item-id="{{ item.id }}">-</button>
                    <span class="quantity" data-item-id="{{ item.id }}">{{ item.quantity }}</span>
                    <button class="quantity-btn increment" data-item-id="{{ item.id }}">+</button>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="cart-summary">
        <p class="summary-total">Итого: <span class="total-amount">{{ total|floatformat:0 }}</span> руб.</p>
        <a href="{% url 'checkout' %}" class="checkout-button btn btn-primary">Оформить заказ</a>
    </div>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
</div>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}