{% extends 'base.html' %}

{% load static %}

{% block title %}Товар{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            {% if product.images.all %}
                <img id="main-image" src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/image.png' %}" alt="Нет изображения">
            {% endif %}
        </div>
<div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="product-price">Цена: {{ product.price|floatformat:0}} ₽</p>
            <div class="size-selection">
                {% if sizes %}
                    <h3>Выберите размер:</h3>
                    <div class="size-options">
                        {% for size in sizes %}
                            <button type="button" class="size-button" onclick="selectSize(this)">{{ size }}</button>
                        {% endfor %}
                    </div>
                {% else %}
                    <p size="Таблица размеров не требуется для данной категории."></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="image-gallery">
        {% for image in product.images.all %}
            <img src="{{ image.image.url }}" alt="{{ product.name }}" class="thumbnail" onclick="changeMainImage(this)">
        {% endfor %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>


{% endblock %}