body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    margin-top: 100px;
    flex: 1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgb(5, 5, 5);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo img {
    height: 30px;
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 40px;
}

.main-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
    font-weight: bold;
}

nav a:hover {
    color:  #3a8a8f;
}

.white-icon {
    color: white;
}

.cart-icon {
    margin-left: 20px;
}

/* для auth */

.auth-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.auth-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.auth-nav a:hover .white-icon {
    color: #f0f0f0;
}

/* для регистр */

.form-container-reg {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.heads {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #3a8a8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #3b9b9f;
}

/* для логина */

.form-container-log {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#auth-info {
    font-size: 15px;
    color: #333;
}

.auth-text {
    margin: 10px 0;
}

.auth-link {
    color: #007bff;
    text-decoration: none;
}

.auth-link:hover {
    text-decoration: underline;
}



/* для about */

.home {
    text-align: center;
    padding: 50px 20px;
    background-color: #2c3e50;
    color: white;
}

.home h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2em;
}

.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #ecf0f1;
}

.about h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about p {
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
}

/* для картинок about!!! */

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category {
    position: relative;
    width: 30%;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
}

.category img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.category:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    position: relative;
    display: inline-block;
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

.text::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 4px;
    background-color: white;
}

/* brand */

.brand{
    background-color: white;
    color: black;
}

.brand-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.brand-item {
     text-align: center;
    cursor: pointer;
}

.brand-item img {
    width: 70%;
    height: 100px;
    object-fit: cover;
}

.brand-link {
    text-decoration: none;
    color: inherit;
}

.brand-link:visited {
    color: inherit;
}

.brand-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.brand-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.brand-description {
    font-size: 1.125em;
    line-height: 1.6;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #2c3e50;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #3a8a8f;
}


/* для категории */

.categories-container {
    max-width: 960px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.categories-title {
    text-align: center;
    color: #3a8a8f;
}

.categories-list {
    list-style-type: none;
    padding: 0;
}

.category-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    background: #fafafa;
    transition: background 0.3s;
}

.category-item:hover {
    background: #e0e0e0;
}

.category-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #3a8a8f;
}

.subcategories-container {
    margin-top: 10px;
}

.subcategories-list {
    list-style-type: none;
    padding: 0;
}

.subcategory-item {
    background: #f9f9f9;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    transition: background 0.5s;
}

.subcategory-item:hover {
    background: #e0e0e0;
}

.subcategory-item a {
    color: inherit;
    text-decoration: none;
}

.subcategory-item a:visited {
    color: inherit;
    text-decoration: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 10px 10px 0;
}

.product-item {
    text-align: center;
    position: relative;

}

.product-item img {
    max-width: 80%;
    height: auto;
}

.product-item a {
    color: inherit;
    text-decoration: none;
}

.product-item a:hover {
    text-decoration: none;
    cursor: pointer;
}

.product-price {
    font-size: 1.2em;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 0;
}

.sidebar {
    float: left;
    width: 20%;
    margin-left: 10px;
}

.sidebar form button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    width: 75%;
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #2c3e50;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar form button:hover {
    background-color: #3a8a8f;
}




/* для каждого товара */

.product-container {
    display: flex;
    align-items: flex-start;

}

.product-image {
    margin-right: 150px;
    margin-left: 50px;
}

.product-image img {
    max-width: 400px;
    height: auto;
}

.image-gallery {
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
}

.thumbnail {
    width: 100px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border 0.3s;
}

.thumbnail:hover {
    border-color: #3a8a8f;
}

.add-to-cart-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.size-selection, .quantity-selection {
    margin-bottom: 15px;
}

.size-select, .quantity-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.size-select:focus, .quantity-input:focus {
    border-color: #3a8a8f;
    outline: none;
}

.add-to-cart-button {
    padding: 10px;
    background-color: #3a8a8f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #000000;
}

/* для корзины */

.cart-container {
    display: flex;
    padding-left: 40px;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    width: 60%;
}

.cart-item {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-item-content {
    display: flex; /* Используем flexbox для горизонтального размещения */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.cart-item-image {
    margin-right: 20px; /* Отступ между изображением и текстом */
}

.cart-item-image img {
    max-width: 200px;
    max-height: 200px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
}

.cart-item-info h2 {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
}

.cart-item-info p {
    margin: 5px 0;
    line-height: 1.2;
}

.cart-summary {
    width: 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.line {
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin: 10px 0;
}



footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    max-width: 100px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 30px;
}

/* для добавления брендов */

.container-new-brand {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus {
    border-color: #3a8a8f;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #3a8a8f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
    background-color: #225255;
    transform: translateY(-1px);
}

/* для удаления брендов */

.wrapper-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-delete-brand {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.title {
    color: #e74c3c;
    margin-bottom: 20px;
    font-size: 24px;
}

.confirmation-message {
    margin-bottom: 30px;
    font-size: 16px;
    color: #555;
}

.delete-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c0392b;
}

.cancel-link {
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    transition: text-decoration 0.3s;
}

.cancel-link:hover {
    text-decoration: underline;
}

/* для редактир брендов */

.container-edit-brand {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.edit-brand-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}






