{% extends 'base.html' %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="home">
        <h2>Добро пожаловать в наш магазин Poizon!</h2>
        <p>Здесь вы найдете огромный выбор одежды и аксессуаров.</p>
    </div>

    <div class="about">
        <h3>О магазине Poizon</h3>
        <p>Мы предлагаем лучшие товары для модных людей. Наша цель - предоставить вам стильную, удобную и качественную одежду по доступным ценам.</p>
    </div>

     <div class="categories">
        <div class="category">
            <img src="{% static 'images/sneakers.png' %}" alt="Обувь">
            <div class="overlay">
                <div class="text">Обувь</div>
            </div>
        </div>
        <div class="category">
            <img src="{% static 'images/clothes.png' %}" alt="Одежда">
            <div class="overlay">
                <div class="text">Одежда</div>
            </div>
        </div>
        <div class="category">
            <img src="{% static 'images/accessories.png' %}" alt="Аксессуары">
            <div class="overlay">
                <div class="text">Аксессуары</div>
            </div>
        </div>
    </div>
{% endblock %}
